<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.pixlepix.gitauto</string>
    <key>ProgramArguments</key>
    <array>
       <string>/Users/localmacaccount/forge/source/Modjam/gitauto.sh </string>
    </array>
    <key>StartInterval</key>
    <integer>120</integer>
</dict>
</plist>

  <key>StartInterval 60</key>
  <true />
 </dict>
</plist>

